html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.board {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    position: relative;
    width: 400px; /* Set the size of the board */
    height: 400px;
    background-image: url('https://assets-themes.chess.com/image/9rdwe/200.png');
    
    /* Ensure the center of the board is at the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight {
    position: absolute;
    background-color: rgba(255, 255, 51, 0.5); /* Semi-transparent yellow */
    pointer-events: none; /* Allow interactions with underlying elements */
    z-index: 1; /* Ensure highlights are behind the pieces */
    width: 12.5%; /* Each square is 1/8th of the board width */
    height: 12.5%; /* Each square is 1/8th of the board height */
}

.piece {
    background-size: 100%;
    cursor: default;
    position: absolute;
    width: 12.5%;  /* 12.5 = 100/8 */
    height: 12.5%;
    z-index: 2;
}

.piece.draggable {
    cursor: grab;
}

.hint {
    background-color: rgba(0, 0, 0, 0.14); /* Semi-transparent black */
    padding: 4.2%;
    z-index: 3;
    background-clip: content-box;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

.capture-hint {
    border: 5px solid rgba(0, 0, 0, 0.14); /* Semi-transparent black border */
    z-index: 3;
    background-clip: content-box;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

.capture-hint, .hint {
    background-clip: content-box;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
}

.capture-hint, .highlight, .hint {
    height: 12.5%;
    left: 0;
    position: absolute;
    top: 0;
    width: 12.5%;
}

.bp {
    background-image: url('../resources/bp.png');
}

.br {
    background-image: url('../resources/br.png');
}

.bn {
    background-image: url('../resources/bn.png');
}

.bb {
    background-image: url('../resources/bb.png');
}

.bk {
    background-image: url('../resources/bk.png');
}

.bq {
    background-image: url('../resources/bq.png');
}


.wp {
    background-image: url('../resources/wp.png');
}

.wr {
    background-image: url('../resources/wr.png');
}

.wn {
    background-image: url('../resources/wn.png');
}

.wb {
    background-image: url('../resources/wb.png');
}

.wk {
    background-image: url('../resources/wk.png');
}

.wq {
    background-image: url('../resources/wq.png');
}